<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head th:replace="/fragment/head.html :: fr-head"></head>
<body>
<div id="app">
    <nav th:replace="/fragment/navbar.html :: fr-navbar"></nav>
    <aside th:replace="/fragment/menu.html :: fr-menu"></aside>
    <section class="section is-main-section">


        <div class="card">


            <div class="card-content">
                <pre class="title">
        ______         _          _
        | ___ |       | |        | |
        | |_/ /  __ _ | |_   ___ | |__
        | ___ | / _` || __| / __|| '_ \
        | |_/ /| (_| || |_ | (__ | | | |
        |____/  \__,_| \__| \___||_| |_|
            </pre>
            </div>
        </div>
    </section>
</div>

</body>
</html>