<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rawdatamover.mapper.MoverMapper">

    <select id="readMaria" resultType="RawData" parameterType="string">
     <![CDATA[
        select pointId, value, measuredDate
        from MeasuredRawData
        where measuredDate >= '2022-01-27 09:34:15'
          and measuredDate <= '2022-02-09 08:27:47'
        ]]>
    </select>

    <select id="readPost" resultType="RawData" parameterType="string">
        select pointId, value, measureddate
        from hyper_measuredrawdata
        where measureddate >= '2022-01-27 09:34:15'
        and measureddate <= '2022-02-09 08:27:47'
    </select>



</mapper>